@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    margin: 10px;
    color: black;
    padding: 5px;
}
.container .aj{
    border: 2px solid black;
    gap: 5px;
}
.container .mj{
    border: 2px solid black;
    gap: 2px;
}

.red{
    color: red;
}